body {
  background-color: #2b2d30;
}

.modal {
  max-height: 100%;
  overflow: hidden;
  width: 30%
}

input[type="submit"] {
  width: 100%;
  margin-top: 50px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
}

.aboutme {
  background-color: #2b2d30;
  padding-top: 0px;
}

#descME {
  color: aliceblue;
  font-size: 18px;
}

#descAboutMe {
  font-family: 'Bungee Shade', cursive;
  font-size: 33px;
  color: lightslategray;
  font-weight: bolder;
}

#portfolioLabel {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  color: lightslategray;
  font-weight: BOLDER;
}

#connectLabel {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  color: lightslategray;
  font-weight: BOLDER;
}

.bottom-prlx {
  height: 600px;
}

#workTitles {
  text-align: center
}

.portSect {
  background-color: #2b2d30
}

#navbar-top {
  height: 80px;
  line-height: 80px;
}

#thumbnailPic {
  height: 200px;
  width: 100%
}

#aboutme {
  padding-top: 25px;
}

#abtMe {
  padding-top: 0;
  padding-bottom: 10px;
}

#index-banner {
  padding-bottom: 10px;
}

#topNavWrap {
  padding-bottom: 10px;
}

.carousel {
  height: 350px;
}

.carousel .carousel-item {
  top: -70px;
  width: 375px;
}

.modal-content {
  padding: 24px;
  height: 100%;
}

.social {
  height: 128px;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.50rem;
  }

  #aboutMeLabel {
    width: 80%
  }

  #describeMeLabel {
    width: 100%;
  }

  h3 {
    font-size: 30px;
    line-height: 110%;
    margin: 2.2rem 0 0 0;
  }

  #linkedInLogo,
  #githubLogo,
  #stackLogo,
  #emailLogo {
    width: 50%;
  }

}